body {
    background-color: rgba(102, 198, 222, 0.112);
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;
}

h1 {
    color: rgb(7, 11, 86);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

#tagLine {
    color: cornflowerblue;
    font-display: block;
}

#aboutParagraph {
    color: rgb(78, 82, 197);
}

h2 {
    color: rgb(64, 137, 233);
}

h3 {
    text-align: center;
    color: navy;
    font-size: x-large;
}

.unorderedList {
    color: rgb(48, 109, 208);
    text-align: center;
    list-style-position: inside;
}

footer {
    text-align: left;
}